

.img__overlay-Portfolio{
    inset: 1%;
    background-color: white;
    opacity: 0;

    transition: all 0.5s ease-in-out;
    transform: translateY(10px);

}

.imd__overlay-content{


    button{

        transform: translateY(10px);
        transition: all 0.5s ease-in-out;

    }

}

.Portfolio__img:hover{

    .img__overlay-Portfolio{
        opacity: 1;
        transform: translateY(0);
    }

    .imd__overlay-content{

        p{
            transform: translateY(0);
        }

        button{
            transform: translateY(0);
        }
    }
}

.img__overlay-Portfolio button:hover{

    background-color: white !important;

    i{
        color: black;
    }
}


.Portfolio__list {

    a{
        font-weight: 800;
        font-family: var(--font-primary);
    }


    .active{
        position: relative;
    }

    .active::before{

        width: 100%;
    }

    a::before{

        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: black;
        transition: all 0.2s ease-in-out;
        bottom: -5px;
    }

    .nav-link{
        padding: 0;
        color: black;
    }
}

.img__overlay-Portfolio{

    p{
        font-family: Montserrat-black;
        font-weight: 700;
        font-size: 12px;
    }
}

.modal-content{
    background-color: transparent;
    border: 0;
}

.modal-header{
    border-bottom: 0;
    padding-bottom: 0;
}

.modal-footer{
    border-top: 0;
}