@import url(header.css);
@import url(About.css);
@import url(Services.css);
@import url(Portfolio.css);
@import url(Testimonials.css);



:root{

    --main-color-rgb: rgb(52, 52, 52);
    --main-color: #343434;
    --secondary-color: #748182;
    --secondary-color-rgb : rgb(116, 129, 130);
    --main-font: "Montserrat-black" , sans-serif;
    --bg-color: #f7f7f7;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "popins-regular" , sans-serif;
}


.bg-change{
    background-color: var(--bg-color);
}

.sec__heading h2{
    z-index: 2;
}
.sec__heading h2:before{

    content: "";
    position: absolute;

    width: 15%;
    height: 30%;
    top: 20%;
    left: calc(50% - 100px);
    background-image: url("../asset/imgs/dots.png");

    z-index: -1;
}

.color-white{
    color: white;
}

.sec-padding{
    padding: 100px 0 70px 0;
}


@font-face {
    font-family: popins-regular;
    src: url('../webfonts/Poppins-Regular.ttf');
}


@font-face {
    font-family: Montserrat-mid;
    src: url('../webfonts/static/Montserrat-Medium.ttf') ;
}

@font-face {
    font-family: Montserrat-reg;
    src: url('../webfonts/static/Montserrat-Regular.ttf') ;
}

@font-face {
    font-family: Montserrat-black;
    src: url('../webfonts/static/Montserrat-Black.ttf')  ;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-black" , sans-serif;
}




@media screen and (max-width : 992px) {

    nav ul{
        padding-top: 0.5rem;
        justify-content: center;
        align-items: center;
        background-color: white;
        
        li{
            padding-bottom: 0.5rem;
        }
        .color-white{
            color: var(--main-color);
        }
    }

    .services__heading h2:before{
        width: 25%;
        left: calc(50% - 85px);
    }

    .sec__heading h2:before{
        width: 25%;
        left: calc(50% - 85px);
    }
    
}


@media screen and (max-width : 700px) {

    .progress-edit_1::after{
        left: 87%;
    }

    .progress-edit_2::after{
        left: 73%;
    }

    .progress-edit_3::after{
        left: 83%;
    }

    .About__content{
        margin-top: 2rem;
    }

    .services__heading h2:before{
        width: 30%;
        left: calc(50% - 80px);
    }

    .sec__heading h2:before{
        width: 30%;
        left: calc(50% - 80px);
    }
}