

.Team__card{
    figure{
        margin-bottom: 0;

        img{
            transform: scale(1);
            transition: all ease-in-out 0.5s;
        }
    }


}



.card-footer:last-child{
    background-color: rgb(52, 52, 52);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px ;

}

.img__overlay-Team:hover{

    transform: scale(1.1);
    transition: all 0.7s ease-in-out;

    .Team__card figure img{
        transform: scale(1.1);
        transition: all 0.7s ease-in-out;
    }
}

.img__overlay-Team{
    inset: 1%;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;

    transition: all 0.5s ease-in-out;
    transform: rotateY(180deg) scale(0.5);


}

.Team__img:hover{

    .img__overlay-Team{
        opacity: 1;
        transform: rotateY(0) scale(1);
    }

    .imd__overlay-content{

        button{
            transform: translateY(0);
        }
    }
}

.img__overlay-Team button:hover{

    background-color: white !important;

    i{
        color: black;
    }
}